body {
	margin: 0 auto;
	width: 100%;
}

a {
	text-decoration: none;
	color: #B97A57;
}

#JWJitemlist a:hover{
	background:#B97A57;
}

/* 헤더 부분 스타일 */
header {
	height: 400px;
	background: #F5F5DC;
	text-align: center;
	margin: 0 auto;
}

#JWJmaintitle {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
}

#JWJmainmenu1 {
	position: relative;
	top: 20%;
	left: 50%;
	transform: translateX(-50%);
	height: 80px;
	width: 100%;
	background: #F5F5DC;
	display: block;
	line-height: 100px;
}

#JWJmainmenu1 img {
	padding: 0 15px 0 15px;
	width: 40px;
	height: 40px;
	margin: 0 auto;
}

#JWJmainmenu2 {
	position: relative;
	top: 20%;
	left: 50%;
	transform: translateX(-50%);
	display: none;
	background: #F5F5DC;
	height: 80px;
	line-height: 100px;
	width: 100%;
}

#JWJmainmenu2 img {
	padding: 0 15px 0 15px;
	width: 40px;
	height: 40px;
	margin: 0 auto;
}

.menu {
	padding: 0 15px 0 15px;
	transform: translateY(-30%);
}

@media screen and (max-width: 1185px) {
	#JWJmainmenu1 {
		display: none;
	}
	#JWJmainmenu2 {
		display: block;
	}
}
/* 헤더 부분 스타일 */

/* 메인컨텐츠 부분 스타일 */
@media screen and (max-width: 1555px) {
	#JWJnewitemlist {
		width: 700px;
	}
}

@media screen and (max-width: 700px) {
	#JWJnewitemlist {
		width: 100%;
	}
}

#JWJmainsection {
	text-align: center;
}

#JWJitemlist {
	margin: 50px 0 50px 0;
}

#JWJnewitemlist {
	margin: 0 auto;
}

#JWJnewitemlist img {
	width: 280px;
	height: 250px;
}

#JWJhotitemlist {
	clear: both;
}

@media screen and (max-width: 1555px) {
	#JWJhotitemlist {
		width: 700px;
	}
}

@media screen and (max-width: 700px) {
	#JWJhotitemlist {
		width: 100%;
	}
}

@media screen and (max-width: 1000px) {
	#JWJhistorylist aside {
		display: none;
	}
}

#JWJhotitemlist {
	margin: 0 auto;
}

#JWJhotitemlist img {
	width: 280px;
	height: 250px;
}

#JWJhistorylist {
	display: block;
	float: right;
	width: 200px;
	position: fixed;
	top: 43%;
	right: 0px;
}

/* 메인컨텐츠 부분 스타일 */

/* 푸터 부분 스타일 */
footer {
	height: 300px;
	background: #F5F5DC;
}
/* 푸터 부분 스타일 */